<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ParkAssist"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:theme="@android:style/Theme.Holo.Light"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

        <activity android:name="com.example.ParkAssist.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.ParkAssist.FingerprintActivity"/>

        <activity
            android:name="com.example.ParkAssist.ScanActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            />

        <activity
            android:name="com.example.ParkAssist.ViewActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            />
    </application>
</manifest>
