<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ParkAssist"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

        <activity
            android:name=".activity.IntroActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.FingerprintActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.ViewDBActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.ManageDBActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog"/>

        <activity
            android:name=".activity.ScanActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            />

        <activity
            android:name=".activity.ViewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            />
    </application>
</manifest>
